@model ChangePasswordViewModel

@{
    ViewBag.Title = "Cambiar contraseña";
    Layout = "_Layout";
}

<div class="container p-0">
    <div class="row">
        <!-- Sidebar -->
        @await Html.PartialAsync("_SlideBarProfile")

        <!-- Content -->
        <div class="col-md-7 col-xl-8">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h5 class="card-title mb-0">Cambiar contraseña</h5>
                </div>
                <div class="card-body">
                    <form method="post" asp-action="ChangePassword">
                        <div class="mb-3">
                            <label asp-for="OldPassword"></label>
                            <input type="password" class="form-control" asp-for="OldPassword" placeholder="Contraseña actual" required />
                            <span class="text-danger" asp-validation-for="OldPassword"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="NewPassword"></label>
                            <input type="password" class="form-control" asp-for="NewPassword" placeholder="Nueva contraseña" required />
                            <span class="text-danger" asp-validation-for="NewPassword"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="ConfirmPassword"></label>
                            <input type="password" class="form-control" asp-for="ConfirmPassword" placeholder="Confirmar contraseña" required />
                            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Cambiar contraseña</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
