@model ChangePasswordDTO

@{
    ViewBag.Title = "Cambiar contraseña";
    Layout = "_Layout";
}

<div class="card mt-4">
    <div class="card-header bg-primary text-white">
        <h3 class="m-0">Cambiar contraseña</h3>
    </div>

    <div class="card-body">
        <form method="post" asp-action="ChangePassword" class="row g-3">

            <div class="col-md-12 form-floating mb-3">
                <input type="password" class="form-control" asp-for="OldPassword" placeholder="Contraseña actual" required/>
                <label asp-for="OldPassword">Contraseña actual</label>
                <span class="text-danger" asp-validation-for="OldPassword"></span>
            </div>

            <div class="col-md-12 form-floating mb-3">
                <input type="password" class="form-control" asp-for="NewPassword" placeholder="Nueva contraseña" required/>
                <label asp-for="NewPassword">Nueva contraseña</label>
                <span class="text-danger" asp-validation-for="NewPassword"></span>
            </div>

            <div class="col-md-12 form-floating mb-3">
                <input type="password" class="form-control" asp-for="ConfirmPassword" placeholder="Confirmar contraseña" required/>
                <label asp-for="ConfirmPassword">Confirmar contraseña</label>
                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-primary w-100">Cambiar contraseña</button>
            </div>

        </form>
    </div>
</div>