@model Worksy.Web.ViewModels.AuthViewModel

@{
    ViewBag.Title = "Login";
    Layout = "_Layout";
    ViewData["HeaderClass"] = "sticky-top";
}

<head>
    <link href="~/css/login.css" rel="stylesheet">
</head>

<main id="main">
    <div class="cont">
        <div class="form sign-in">
            <h2>Iniciar sesión</h2>
            <form asp-action="Login" method="POST" id="loginForm">
            <label>
                <span asp-validation-for="Login.Email" type="text">Correo</span>
                <input asp-for="Login.Email" placeholder="Correo electrónico"/>
            </label>
            <label>
                <span asp-validation-for="Login.Password">Contraseña</span>
                <input asp-for="Login.Password" id="txtPasswordIniciar" type="password" placeholder="Contraseña"/>
                <div class="input-group-append">
                    <button id="show_password" class="btn" type="button" onclick="mostrarPassword()">
                        <img src="~/img/ojo.png" alt="mostrar/ocultar">
                    </button>
                </div>
            </label>
            
            <button type="submit" class="submit">Iniciar sesión</button>
            </form>
            <p class="forgot-pass"><a asp-controller="Users" asp-action="ForgotPassword" class="forgot-pass"></a>¿Olvidaste tu contraseña?</p>

            <div class="social-media">
                <ul>
                    <li><i class="bi bi-facebook"></i></li>
                    <li><i class="bi bi-twitter"></i></li>
                    <li><i class="bi bi-linkedin"></i></li>
                    <li><i class="bi bi-instagram"></i></li>
                </ul>
            </div>
        </div>

        <div class="sub-cont">
            <div class="img">
                <div class="img-text m-up">
                    <h2>¿Eres nuevo?</h2>
                    <p>¡Regístrate y descubre un mundo de oportunidades y servicios personalizados!</p>
                </div>
                <div class="img-text m-in">
                    <h2>¿Ya haces parte de Worksy?</h2>
                    <p>Si ya tienes una cuenta, inicia sesión ahora</p>
                </div>
                <div class="img-btn">
                    <span class="m-up">Registrate</span>
                    <span class="m-in">Inicia sesión</span>
                </div>
            </div>
            <div class="form sign-up" id="sign-up">
                <h2>Regístrate</h2>

                <form asp-action="Register" method="POST" id="registerForm">
                    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                    <div class="input-container">
                        <label>
                            <span>Nombres</span>
                            <input asp-for="Register.FirstName" type="text" id="txtNombres" placeholder="Nombres" />
                        </label>
                        <span asp-validation-for="Register.FirstName" class="text-danger"></span>
                    </div>

                    <div class="input-container">
                        <label>
                            <span>Apellidos</span>
                            <input asp-for="Register.LastName" type="text" id="txtApellidos" placeholder="Apellidos" />
                        </label>
                        <span asp-validation-for="Register.LastName" class="text-danger"></span>
                    </div>

                    <div class="input-container">
                        <label>
                            <span>Correo electrónico</span>
                            <input asp-for="Register.Email" type="email" id="txtEmail" placeholder="Correo electrónico" required />
                        </label>
                        <span asp-validation-for="Register.Email" class="text-danger"></span>
                    </div>

                    <div class="input-container">
                        <label>
                            <span>Contraseña</span>
                            <input asp-for="Register.Password" type="password" id="txtPassword" placeholder="Contraseña" required />
                        </label>
                        <span asp-validation-for="Register.Password" class="text-danger"></span>
                    </div>

                    <div class="input-container">
                        <label>
                            <span>Número de teléfono</span>
                            <input asp-for="Register.PhoneNumber" type="text" id="txtTelefono" placeholder="Teléfono" />
                        </label>
                        <span asp-validation-for="Register.PhoneNumber" class="text-danger"></span>
                    </div>

                    <div class="input-container">
                        <label>
                            <span>Dirección</span>
                            <input asp-for="Register.Address" type="text" id="txtDireccion" placeholder="Dirección" />
                        </label>
                        <span asp-validation-for="Register.Address" class="text-danger"></span>
                    </div>

                    <button type="submit" class="submit" id="btnRegistrar">Regístrate ahora</button>
                </form>
            </div>
        </div>
    </div>
</main>

<!-- Template Main JS File -->
<script src="~/js/script.js"></script>

<script type="text/javascript">
    function mostrarPassword() {
        var cambio = document.getElementById("txtPasswordIniciar");
        if (cambio.type == "password") {
            cambio.type = "text";
            $('.icon').removeClass('fa fa-eye-slash').addClass('fa fa-eye');
        } else {
            cambio.type = "password";
            $('.icon').removeClass('fa fa-eye').addClass('fa fa-eye-slash');
        }
    }

    $(document).ready(function () {
        //CheckBox mostrar contraseña
        $('#ShowPassword').click(function () {
            $('#Password').attr('type', $(this).is(':checked') ? 'text' : 'password');
        });
    });

</script>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}