@model UpdateProfileDTO

@{
    ViewBag.Title = "Ajustes de perfil";
    Layout = "_Layout";
}

<link href="~/css/stylesProfile.css" rel="stylesheet"/>

<div class="container p-0">
    <div class="row">
        <!-- Sidebar -->
        @await Html.PartialAsync("_SlideBarProfile")

        <!-- Content -->
        <div class="col-md-7 col-xl-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Datos personales</h5>
                </div>
                <div class="card-body">
                    <form method="post" asp-action="UpdateProfile">
                        <div class="mb-3">
                            <label asp-for="Email"></label>
                            <input type="text" class="form-control" asp-for="Email" placeholder="Email">
                            <span class="text-danger" asp-validation-for="Email"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Biography"></label>
                            <textarea asp-for="Biography" class="form-control" rows="2"
                                      placeholder="Cuéntanos sobre ti"></textarea>
                            <span class="text-danger" asp-validation-for="Biography"></span>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label asp-for="FirstName"></label>
                                <input type="text" class="form-control" asp-for="FirstName" placeholder="Nombre">
                                <span class="text-danger" asp-validation-for="FirstName"></span>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label asp-for="LastName"></label>
                                <input type="text" class="form-control" asp-for="LastName" placeholder="Apellidos">
                                <span class="text-danger" asp-validation-for="LastName"></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Address"></label>
                            <input type="text" class="form-control" asp-for="Address" placeholder="1234 Main St">
                            <span class="text-danger" asp-validation-for="Address"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="PhoneNumber"></label>
                            <input type="text" class="form-control" asp-for="PhoneNumber" placeholder="Teléfono">
                            <span class="text-danger" asp-validation-for="PhoneNumber"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">Guardar cambios</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
