@model ResetPasswordViewModel

@{
    ViewBag.Title = "Restablecer Contrase単a";
    Layout = "_Layout";
}

<form asp-action="ResetPassword" method="POST">
    <input type="hidden" asp-for="Token"/>
    <input type="hidden" asp-for="Email"/>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    
    <div class="form-floating mb-3">
        <input type="password" asp-for="NewPassword" class="form-control" placeholder="Nueva contrase単a"/>
        <label asp-for="NewPassword"></label>
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    
    <div class="form-floating mb-3">
        <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="Confirmar contrase単a"/>
        <label asp-for="ConfirmPassword"></label>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    
    <button type="submit" class="btn btn-primary w-100">Restablecer Contrase単a</button>

</form>