
    <footer id="footer" class="footer">

        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-5 col-md-12 footer-info">
                    <a asp-controller="" asp-action="Index" class="logo d-flex align-items-center">
                        <span>Worksy</span>
                    </a>
                    <p>Nuestra meta es la de alcanzar más sitios alrededor de Colombia para poder ofrecer nuestro
                        servicio.</p>
                    <div class="social-links d-flex mt-4">
                        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="https://www.facebook.com/profile.php?id=61550283416870&mibextid=2JQ9oc"
                           class="facebook"><i
                                class="bi bi-facebook"></i></a>
                        <a href="https://www.instagram.com/worksy_6/" class="instagram"><i class="bi bi-instagram"></i></a>
                    </div>
                </div>

                <div class="col-lg-2 col-6 footer-links">
                    <h4>Nosotros</h4>
                    <ul>
                        <li><a asp-controller="" asp-action="Index" class="active">Inicio</a></li>
                        <li><a asp-controller="" asp-action="About">Acerca de</a></li>
                        <li><a asp-controller="" asp-action="Contact">Contacto</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                    <h4>Contactanos</h4>
                    <p>
                        Cl. 54a #30-01,<br>
                        Villa Hermosa, Medellín,<br>
                        Antioquia, Colombia <br><br>
                        <strong>Telefono:</strong>+57 350 774 6514<br>
                        <strong>Email:</strong> worksy62023@gmail.com<br>
                    </p>
                </div>

            </div>
        </div>

        <div class="container mt-4">
            <div class="copyright">
                &copy; Copyright <strong><span>Worksy</span></strong>. All Rights Reserved
            </div>
        </div>

    </footer>
    <!-- End Footer -->nd Footer -->