<!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center @(ViewData["HeaderClass"] ?? "fixed-top")">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <a asp-controller="" asp-action="Index" class="logo d-flex align-items-center">
                <img src="~/img/logos/2.png" alt="">
                <h1>Worksy</h1>
            </a>

            <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
            <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="active" asp-controller="" asp-action="Index">Inicio</a></li>
                    <li><a asp-controller="" asp-action="About">Acerca de</a></li>
                    <li><a asp-controller="" asp-action="Contact">Contacto</a></li>
                    @if (!User.Identity.IsAuthenticated)
                {
                    <li class="dropdown">
                        <a asp-controller="Account" asp-action="Login"><span>Ingresar</span><i class="bi bi-chevron-down dropdown-indicator"></i></a>
                       
                        <ul>
                            <li><a asp-controller="Account" asp-action="Login">Regístrate</a></li>
                        </ul>
                    </li>
                    }
                    else
                    {
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="userMenuButton"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                @User.Identity.Name
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userMenuButton">
                                <li>
                                    <a class="dropdown-item" asp-controller="Account" asp-action="Profile">Mi perfíl</a>
                                </li>

                                <li>
                                    <hr class="dropdown-divider" />
                                </li>

                                <li>
                                    <form asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
                                        <button type="submit" class="dropdown-item text-danger">Cerrar sesión</button>
                                    </form>
                                </li>

                            </ul>
                        </div>
                    }
                </ul>
            </nav>
        </div>
    </header>