<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Worksy Inem</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    @await Html.PartialAsync("_Styles");
    
    <script src="~/js/authentication.js"></script>

    
</head>
<body>

@await Html.PartialAsync("_Header");

<div>
    <main role="main">
        @RenderBody()
    </main>
</div>

@await Html.PartialAsync("_Footer");

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>


@await Html.PartialAsync("_Scripts")
@await RenderSectionAsync("Scripts", required: false)

@await Component.InvokeAsync("Notyf")
</body>
</html>
