<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Worksy.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/Worksy.Web.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light py-4">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img class="img-fluid" src="Imagen de WhatsApp 2025-09-28 a las 21.33.56_fb74c19e.ico" alt="Logo"
                     width="48px" height="48px">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav_lc"
                    aria-controls="nav_lc" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="nav_lc">
                <ul class="navbar-nav my-3 my-lg-0 ms-lg-3 me-auto">
                    <li class="nav-item me-4"><a class="nav-link" href="#">Home</a></li>
                    <li class="nav-item me-4"><a class="nav-link" href="#">About us</a></li>
                    <li class="nav-item me-4"><a class="nav-link" href="#">Services</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Contact us</a></li>
                </ul>
                <div>
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <a class="btn btn-outline-secondary me-2" asp-controller="Users" asp-action="Register">Registrarse</a>
                        <a class="btn btn-success" asp-controller="Users" asp-action="Login">Ingresar</a>
                    }
                    else
                    {
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="userMenuButton"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                @User.Identity.Name
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userMenuButton">
                                <li>
                                    <a class="dropdown-item" asp-controller="Users" asp-action="Profile">Perfil</a>
                                </li>
                                
                                <li>
                                    <hr class="dropdown-divider"/>
                                </li>
                                
                                <li>
                                    <form asp-controller="Users" asp-action="Logout" method="post" class="d-inline">
                                        <button type="submit" class="dropdown-item text-danger">Cerrar sesión</button>
                                    </form>
                                </li>

                            </ul>
                        </div>
                    }
                </div>

            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

@*<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2025 - Worksy.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>*@
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)

@await Component.InvokeAsync("Notyf");
</body>
</html>